In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import yfinance as yf

%matplotlib inline

In [23]:
aapl = yf.Ticker('AAPL')

In [24]:
days = 50
hist_aapl = aapl.history(period=f'{days}d')
hist_aapl

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2021-06-21,130.105073,132.211917,129.016708,132.102081,79663300,0.00,0
2021-06-22,131.932333,133.879413,131.423086,133.779556,74783600,0.00,0
2021-06-23,133.569887,134.119068,133.030687,133.499985,60214200,0.00,0
2021-06-24,134.248856,134.438574,132.731126,133.210419,68711000,0.00,0
2021-06-25,133.260356,133.689705,132.611319,132.910873,70783700,0.00,0
2021-06-28,133.210424,135.047667,133.150516,134.578369,62111300,0.00,0
2021-06-29,134.598343,136.285817,134.149019,136.126053,64556100,0.00,0
2021-06-30,135.966285,137.204435,135.666731,136.755112,63261400,0.00,0
2021-07-01,136.395656,137.124559,135.556901,137.064651,52485800,0.00,0
2021-07-02,137.693695,139.790559,137.543925,139.750626,78852600,0.00,0
2021-07-06,139.860461,142.935840,139.860461,141.807541,108181800,0.00,0
2021-07-07,143.325256,144.673243,142.446583,144.353729,104911600,0.00,0
2021-07-08,141.368191,143.844476,140.459549,143.025711,105575500,0.00,0
2021-07-09,142.536444,145.432099,142.436587,144.892914,99890800,0.00,0
2021-07-12,145.991277,146.101113,143.784577,144.283829,76299700,0.00,0
2021-07-13,143.814527,147.239404,143.415132,145.422119,100827100,0.00,0
2021-07-14,147.878448,149.346250,147.459063,148.926865,127050800,0.00,0
2021-07-15,149.016746,149.775604,146.869954,148.257874,106820300,0.00,0
2021-07-16,148.237900,149.535943,145.661758,146.170990,93251400,0.00,0
2021-07-19,143.534951,143.854480,141.458061,142.236893,121434600,0.00,0
2021-07-20,143.245388,146.879942,142.746136,145.931351,96350000,0.00,0
2021-07-21,145.312290,145.911399,144.413643,145.182480,74993500,0.00,0
2021-07-22,145.721669,147.978283,145.591859,146.580383,77338200,0.00,0
2021-07-23,147.329270,148.497518,146.700207,148.337753,71447400,0.00,0
2021-07-26,148.048196,149.605860,147.479042,148.767120,72434100,0.00,0
2021-07-27,148.896905,148.986782,145.332254,146.550430,104818600,0.00,0
2021-07-28,144.593363,146.750136,142.326755,144.763107,118931200,0.00,0
2021-07-29,144.473543,146.330761,144.363707,145.422119,56699500,0.00,0
2021-07-30,144.164003,146.111083,143.894403,145.641785,70382000,0.00,0
2021-08-02,146.141047,146.730161,145.032707,145.302307,62880000,0.00,0
2021-08-03,145.591857,147.818517,144.962795,147.139542,64786600,0.00,0
2021-08-04,147.049692,147.568903,146.061168,146.730164,56368300,0.00,0
2021-08-05,146.760114,147.618828,145.951328,146.839996,46397700,0.00,0
2021-08-06,146.350006,147.110001,145.630005,146.139999,54067400,0.22,0
2021-08-09,146.199997,146.699997,145.520004,146.089996,48908700,0.00,0
2021-08-10,146.440002,147.710007,145.300003,145.600006,69023100,0.00,0
2021-08-11,146.050003,146.720001,145.529999,145.860001,48493500,0.00,0
2021-08-12,146.190002,149.050003,145.839996,148.889999,72282600,0.00,0
2021-08-13,148.970001,149.440002,148.270004,149.100006,59318800,0.00,0
2021-08-16,148.539993,151.190002,146.470001,151.119995,103296000,0.00,0
2021-08-17,150.229996,151.679993,149.089996,150.190002,92229700,0.00,0
2021-08-18,149.800003,150.720001,146.149994,146.360001,86326000,0.00,0
2021-08-19,145.029999,148.000000,144.500000,146.699997,86960300,0.00,0
2021-08-20,147.440002,148.500000,146.779999,148.190002,59947400,0.00,0
2021-08-23,148.309998,150.190002,147.889999,149.710007,60131800,0.00,0
2021-08-24,149.449997,150.860001,149.149994,149.619995,48606400,0.00,0
2021-08-25,149.809998,150.320007,147.800003,148.360001,58991300,0.00,0
2021-08-26,148.350006,149.119995,147.509995,147.539993,48597200,0.00,0
2021-08-27,147.479996,148.750000,146.830002,148.600006,55721500,0.00,0
2021-08-30,149.000000,153.490005,148.610001,153.119995,90689700,0.00,0

In [13]:
hist_aapl.columns

Index(['Open', 'High', 'Low', 'Close', 'Volume', 'Dividends', 'Stock Splits'], dtype='object')

In [14]:
hist_aapl.reset_index()

,Date,Open,High,Low,Close,Volume,Dividends,Stock Splits
0,2021-06-21,130.105073,132.211917,129.016708,132.102081,79663300,0.00,0
1,2021-06-22,131.932333,133.879413,131.423086,133.779556,74783600,0.00,0
2,2021-06-23,133.569887,134.119068,133.030687,133.499985,60214200,0.00,0
3,2021-06-24,134.248856,134.438574,132.731126,133.210419,68711000,0.00,0
4,2021-06-25,133.260356,133.689705,132.611319,132.910873,70783700,0.00,0
5,2021-06-28,133.210424,135.047667,133.150516,134.578369,62111300,0.00,0
6,2021-06-29,134.598343,136.285817,134.149019,136.126053,64556100,0.00,0
7,2021-06-30,135.966285,137.204435,135.666731,136.755112,63261400,0.00,0
8,2021-07-01,136.395656,137.124559,135.556901,137.064651,52485800,0.00,0
9,2021-07-02,137.693695,139.790559,137.543925,139.750626,78852600,0.00,0
10,2021-07-06,139.860461,142.935840,139.860461,141.807541,108181800,0.00,0
11,2021-07-07,143.325256,144.673243,142.446583,144.353729,104911600,0.00,0
12,2021-07-08,141.368191,143.844476,140.459549,143.025711,105575500,0.00,0
13,2021-07-09,142.536444,145.432099,142.436587,144.892914,99890800,0.00,0
14,2021-07-12,145.991277,146.101113,143.784577,144.283829,76299700,0.00,0
15,2021-07-13,143.814527,147.239404,143.415132,145.422119,100827100,0.00,0
16,2021-07-14,147.878448,149.346250,147.459063,148.926865,127050800,0.00,0
17,2021-07-15,149.016746,149.775604,146.869954,148.257874,106820300,0.00,0
18,2021-07-16,148.237900,149.535943,145.661758,146.170990,93251400,0.00,0
19,2021-07-19,143.534951,143.854480,141.458061,142.236893,121434600,0.00,0
20,2021-07-20,143.245388,146.879942,142.746136,145.931351,96350000,0.00,0
21,2021-07-21,145.312290,145.911399,144.413643,145.182480,74993500,0.00,0
22,2021-07-22,145.721669,147.978283,145.591859,146.580383,77338200,0.00,0
23,2021-07-23,147.329270,148.497518,146.700207,148.337753,71447400,0.00,0
24,2021-07-26,148.048196,149.605860,147.479042,148.767120,72434100,0.00,0
25,2021-07-27,148.896905,148.986782,145.332254,146.550430,104818600,0.00,0
26,2021-07-28,144.593363,146.750136,142.326755,144.763107,118931200,0.00,0
27,2021-07-29,144.473543,146.330761,144.363707,145.422119,56699500,0.00,0
28,2021-07-30,144.164003,146.111083,143.894403,145.641785,70382000,0.00,0
29,2021-08-02,146.141047,146.730161,145.032707,145.302307,62880000,0.00,0
30,2021-08-03,145.591857,147.818517,144.962795,147.139542,64786600,0.00,0
31,2021-08-04,147.049692,147.568903,146.061168,146.730164,56368300,0.00,0
32,2021-08-05,146.760114,147.618828,145.951328,146.839996,46397700,0.00,0
33,2021-08-06,146.350006,147.110001,145.630005,146.139999,54067400,0.22,0
34,2021-08-09,146.199997,146.699997,145.520004,146.089996,48908700,0.00,0
35,2021-08-10,146.440002,147.710007,145.300003,145.600006,69023100,0.00,0
36,2021-08-11,146.050003,146.720001,145.529999,145.860001,48493500,0.00,0
37,2021-08-12,146.190002,149.050003,145.839996,148.889999,72282600,0.00,0
38,2021-08-13,148.970001,149.440002,148.270004,149.100006,59318800,0.00,0
39,2021-08-16,148.539993,151.190002,146.470001,151.119995,103296000,0.00,0
40,2021-08-17,150.229996,151.679993,149.089996,150.190002,92229700,0.00,0
41,2021-08-18,149.800003,150.720001,146.149994,146.360001,86326000,0.00,0
42,2021-08-19,145.029999,148.000000,144.500000,146.699997,86960300,0.00,0
43,2021-08-20,147.440002,148.500000,146.779999,148.190002,59947400,0.00,0
44,2021-08-23,148.309998,150.190002,147.889999,149.710007,60131800,0.00,0
45,2021-08-24,149.449997,150.860001,149.149994,149.619995,48606400,0.00,0
46,2021-08-25,149.809998,150.320007,147.800003,148.360001,58991300,0.00,0
47,2021-08-26,148.350006,149.119995,147.509995,147.539993,48597200,0.00,0
48,2021-08-27,147.479996,148.750000,146.830002,148.600006,55721500,0.00,0
49,2021-08-30,149.000000,153.490005,148.610001,153.119995,90689700,0.00,0

In [15]:
hist_msft = yf.Ticker('MSFT').history(period=f'{days}d')
hist_msft.head()

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2021-06-21,259.323546,263.016457,257.427182,262.128174,26696100,0.0,0
2021-06-22,262.218008,265.282149,261.898612,265.002686,24694100,0.0,0
2021-06-23,265.481748,266.320139,263.924731,264.763123,19518700,0.0,0
2021-06-24,265.651434,267.338207,264.962750,266.180420,21446900,0.0,0
2021-06-25,265.721321,266.739361,264.254128,264.513611,25611100,0.0,0

In [16]:
pd.concat([hist_aapl, hist_msft], axis=1).head()

,Open,High,Low,Close,Volume,Dividends,Stock Splits,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,,,,,,,,
2021-06-21,130.105073,132.211917,129.016708,132.102081,79663300,0.0,0,259.323546,263.016457,257.427182,262.128174,26696100,0.0,0
2021-06-22,131.932333,133.879413,131.423086,133.779556,74783600,0.0,0,262.218008,265.282149,261.898612,265.002686,24694100,0.0,0
2021-06-23,133.569887,134.119068,133.030687,133.499985,60214200,0.0,0,265.481748,266.320139,263.924731,264.763123,19518700,0.0,0
2021-06-24,134.248856,134.438574,132.731126,133.210419,68711000,0.0,0,265.651434,267.338207,264.962750,266.180420,21446900,0.0,0
2021-06-25,133.260356,133.689705,132.611319,132.910873,70783700,0.0,0,265.721321,266.739361,264.254128,264.513611,25611100,0.0,0

In [17]:
hist_aapl.index

DatetimeIndex(['2021-06-21', '2021-06-22', '2021-06-23', '2021-06-24',
               '2021-06-25', '2021-06-28', '2021-06-29', '2021-06-30',
               '2021-07-01', '2021-07-02', '2021-07-06', '2021-07-07',
               '2021-07-08', '2021-07-09', '2021-07-12', '2021-07-13',
               '2021-07-14', '2021-07-15', '2021-07-16', '2021-07-19',
               '2021-07-20', '2021-07-21', '2021-07-22', '2021-07-23',
               '2021-07-26', '2021-07-27', '2021-07-28', '2021-07-29',
               '2021-07-30', '2021-08-02', '2021-08-03', '2021-08-04',
               '2021-08-05', '2021-08-06', '2021-08-09', '2021-08-10',
               '2021-08-11', '2021-08-12', '2021-08-13', '2021-08-16',
               '2021-08-17', '2021-08-18', '2021-08-19', '2021-08-20',
               '2021-08-23', '2021-08-24', '2021-08-25', '2021-08-26',
               '2021-08-27', '2021-08-30'],
              dtype='datetime64[ns]', name='Date', freq=None)

In [19]:
hist_aapl.index = hist_aapl.index.strftime('%d %B %Y')

In [25]:
hist_aapl = hist_aapl[['Close']]
hist_aapl.columns = ['apple']
hist_aapl = hist_aapl.T
hist_aapl

Date,2021-06-21,2021-06-22,2021-06-23,2021-06-24,2021-06-25,2021-06-28,2021-06-29,2021-06-30,2021-07-01,2021-07-02,...,2021-08-17,2021-08-18,2021-08-19,2021-08-20,2021-08-23,2021-08-24,2021-08-25,2021-08-26,2021-08-27,2021-08-30
apple,132.102081,133.779556,133.499985,133.210419,132.910873,134.578369,136.126053,136.755112,137.064651,139.750626,...,150.190002,146.360001,146.699997,148.190002,149.710007,149.619995,148.360001,147.539993,148.600006,153.119995

In [26]:
hist_aapl.index.name = 'Name'
hist_aapl

Date,2021-06-21,2021-06-22,2021-06-23,2021-06-24,2021-06-25,2021-06-28,2021-06-29,2021-06-30,2021-07-01,2021-07-02,...,2021-08-17,2021-08-18,2021-08-19,2021-08-20,2021-08-23,2021-08-24,2021-08-25,2021-08-26,2021-08-27,2021-08-30
Name,,,,,,,,,,,,,,,,,,,,,
apple,132.102081,133.779556,133.499985,133.210419,132.910873,134.578369,136.126053,136.755112,137.064651,139.750626,...,150.190002,146.360001,146.699997,148.190002,149.710007,149.619995,148.360001,147.539993,148.600006,153.119995

In [36]:
def get_data(days,tickers):
    df = pd.DataFrame()
    for company in tickers.keys():
        tkr = yf.Ticker(tickers[company])
        hist = tkr.history(period=f'{days}d')
        hist.index = hist.index.strftime('%d %B %Y')
        hist = hist[['Close']]
        hist.columns = [company]
        hist = hist.T
        hist.index.name = 'Name'
        df = pd.concat([df, hist])
    return df

In [37]:
days = 50
tickers = {
    'apple': 'AAPL',
    'facebook': 'FB',
    'google': 'GOOGL',
    'microsoft': 'MSFT',
    'netflix':'NFLX',
    'amaozon': 'AMZN'
}
    
get_data(days, tickers)

Date,21 June 2021,22 June 2021,23 June 2021,24 June 2021,25 June 2021,28 June 2021,29 June 2021,30 June 2021,01 July 2021,02 July 2021,...,17 August 2021,18 August 2021,19 August 2021,20 August 2021,23 August 2021,24 August 2021,25 August 2021,26 August 2021,27 August 2021,30 August 2021
Name,,,,,,,,,,,,,,,,,,,,,
apple,132.102081,133.779556,133.499985,133.210419,132.910873,134.578369,136.126053,136.755112,137.064651,139.750626,...,150.190002,146.360001,146.699997,148.190002,149.710007,149.619995,148.360001,147.539993,148.600006,153.119995
facebook,332.290009,339.029999,340.589996,343.179993,341.369995,355.640015,351.890015,347.709991,354.390015,354.700012,...,358.450012,355.450012,355.119995,359.369995,363.350006,365.510010,368.390015,364.380005,372.630005,380.660004
google,2436.250000,2446.610107,2442.540039,2450.000000,2450.169922,2450.719971,2445.449951,2441.790039,2448.889893,2505.149902,...,2733.229980,2708.979980,2713.600098,2748.590088,2800.830078,2825.229980,2841.580078,2828.810059,2880.080078,2891.810059
microsoft,262.128174,265.002686,264.763123,266.180420,264.513611,268.206543,270.881409,270.382385,271.081055,277.119476,...,292.519989,290.730011,296.769989,304.359985,304.649994,302.619995,302.010010,299.089996,299.720001,303.589996
netflix,497.000000,508.820007,512.739990,518.059998,527.070007,533.030029,533.500000,528.210022,533.539978,533.979980,...,518.909973,521.869995,543.710022,546.880005,553.330017,553.409973,547.580017,550.119995,558.919983,566.179993
amaozon,3453.959961,3505.439941,3503.820068,3449.080078,3401.459961,3443.889893,3448.139893,3440.159912,3432.969971,3510.979980,...,3241.959961,3201.219971,3187.750000,3199.949951,3265.870117,3305.780029,3299.179932,3316.000000,3349.629883,3421.570068

In [38]:
hist_aapl.info

<bound method DataFrame.info of Date   2021-06-21  2021-06-22  2021-06-23  2021-06-24  2021-06-25  2021-06-28  \
Name
apple  132.102081  133.779556  133.499985  133.210419  132.910873  134.578369

Date   2021-06-29  2021-06-30  2021-07-01  2021-07-02  ...  2021-08-17  \
Name                                                   ...
apple  136.126053  136.755112  137.064651  139.750626  ...  150.190002

Date   2021-08-18  2021-08-19  2021-08-20  2021-08-23  2021-08-24  2021-08-25  \
Name
apple  146.360001  146.699997  148.190002  149.710007  149.619995  148.360001

Date   2021-08-26  2021-08-27  2021-08-30
Name
apple  147.539993  148.600006  153.119995

[1 rows x 50 columns]>

In [39]:
aapl.info

{'zip': '95014',
 'sector': 'Technology',
 'fullTimeEmployees': 147000,
 'longBusinessSummary': 'Apple Inc. designs, manufactures, and markets smartphones, personal computers, tablets, wearables, and accessories worldwide. It also sells various related services. The company offers iPhone, a line of smartphones; Mac, a line of personal computers; iPad, a line of multi-purpose tablets; and wearables, home, and accessories comprising AirPods, Apple TV, Apple Watch, Beats products, HomePod, iPod touch, and other Apple-branded and third-party accessories. It also provides AppleCare support services; cloud services store services; and operates various platforms, including the App Store, that allow customers to discover and download applications and digital content, such as books, music, video, games, and podcasts. In addition, the company offers various services, such as Apple Arcade, a game subscription service; Apple Music, which offers users a curated listening experience with on-demand radio stations; Apple News+, a subscription news and magazine service; Apple TV+, which offers exclusive original content; Apple Card, a co-branded credit card; and Apple Pay, a cashless payment service, as well as licenses its intellectual property. The company serves consumers, and small and mid-sized businesses; and the education, enterprise, and government markets. It sells and delivers third-party applications for its products through the App Store. The company also sells its products through its retail and online stores, and direct sales force; and third-party cellular network carriers, wholesalers, retailers, and resellers. Apple Inc. was founded in 1977 and is headquartered in Cupertino, California.',
 'city': 'Cupertino',
 'phone': '408-996-1010',
 'state': 'CA',
 'country': 'United States',
 'companyOfficers': [],
 'website': 'http://www.apple.com',
 'maxAge': 1,
 'address1': 'One Apple Park Way',
 'industry': 'Consumer Electronics',
 'ebitdaMargins': 0.31955,
 'profitMargins': 0.25004,
 'grossMargins': 0.41005,
 'operatingCashflow': 104414003200,
 'revenueGrowth': 0.364,
 'operatingMargins': 0.28788,
 'ebitda': 110934999040,
 'targetLowPrice': 132,
 'recommendationKey': 'buy',
 'grossProfits': 104956000000,
 'freeCashflow': 80625876992,
 'targetMedianPrice': 168,
 'currentPrice': 153.12,
 'earningsGrowth': 1,
 'currentRatio': 1.062,
 'returnOnAssets': 0.19302,
 'numberOfAnalystOpinions': 42,
 'targetMeanPrice': 166.23,
 'debtToEquity': 210.782,
 'returnOnEquity': 1.27125,
 'targetHighPrice': 190,
 'totalCash': 61696000000,
 'totalDebt': 135491002368,
 'totalRevenue': 347155005440,
 'totalCashPerShare': 3.732,
 'financialCurrency': 'USD',
 'revenuePerShare': 20.61,
 'quickRatio': 0.887,
 'recommendationMean': 1.9,
 'exchange': 'NMS',
 'shortName': 'Apple Inc.',
 'longName': 'Apple Inc.',
 'exchangeTimezoneName': 'America/New_York',
 'exchangeTimezoneShortName': 'EDT',
 'isEsgPopulated': False,
 'gmtOffSetMilliseconds': '-14400000',
 'quoteType': 'EQUITY',
 'symbol': 'AAPL',
 'messageBoardId': 'finmb_24937',
 'market': 'us_market',
 'annualHoldingsTurnover': None,
 'enterpriseToRevenue': 7.504,
 'beta3Year': None,
 'enterpriseToEbitda': 23.481,
 '52WeekChange': 0.10746753,
 'morningStarRiskRating': None,
 'forwardEps': 5.67,
 'revenueQuarterlyGrowth': None,
 'sharesOutstanding': 16530199552,
 'fundInceptionDate': None,
 'annualReportExpenseRatio': None,
 'totalAssets': None,
 'bookValue': 3.882,
 'sharesShort': 93105968,
 'sharesPercentSharesOut': 0.0056,
 'fundFamily': None,
 'lastFiscalYearEnd': 1601078400,
 'heldPercentInstitutions': 0.58429,
 'netIncomeToCommon': 86801997824,
 'trailingEps': 5.108,
 'lastDividendValue': None,
 'SandP52WeekChange': 0.2786554,
 'priceToBook': 39.443584,
 'heldPercentInsiders': 0.00071000005,
 'nextFiscalYearEnd': 1664150400,
 'yield': None,
 'mostRecentQuarter': 1624665600,
 'shortRatio': 1.19,
 'sharesShortPreviousMonthDate': 1626307200,
 'floatShares': 16513305231,
 'beta': 1.202797,
 'enterpriseValue': 2604893995008,
 'priceHint': 2,
 'threeYearAverageReturn': None,
 'lastSplitDate': None,
 'lastSplitFactor': None,
 'legalType': None,
 'lastDividendDate': None,
 'morningStarOverallRating': None,
 'earningsQuarterlyGrowth': 0.932,
 'priceToSalesTrailing12Months': 7.2909913,
 'dateShortInterest': 1628812800,
 'pegRatio': 1.34,
 'ytdReturn': None,
 'forwardPE': 27.00529,
 'lastCapGain': None,
 'shortPercentOfFloat': 0.0056,
 'sharesShortPriorMonth': 96355309,
 'impliedSharesOutstanding': None,
 'category': None,
 'fiveYearAverageReturn': None,
 'previousClose': 148.6,
 'regularMarketOpen': 149,
 'twoHundredDayAverage': 133.19131,
 'trailingAnnualDividendYield': 0.0056191115,
 'payoutRatio': 0.16309999,
 'volume24Hr': None,
 'regularMarketDayHigh': 153.49,
 'navPrice': None,
 'averageDailyVolume10Day': 54409640,
 'regularMarketPreviousClose': 148.6,
 'fiftyDayAverage': 147.16342,
 'trailingAnnualDividendRate': 0.835,
 'open': 149,
 'toCurrency': None,
 'averageVolume10days': 54409640,
 'expireDate': None,
 'algorithm': None,
 'dividendRate': 0.88,
 'exDividendDate': 1628208000,
 'circulatingSupply': None,
 'startDate': None,
 'regularMarketDayLow': 148.61,
 'currency': 'USD',
 'trailingPE': 29.976507,
 'regularMarketVolume': 90956723,
 'lastMarket': None,
 'maxSupply': None,
 'openInterest': None,
 'marketCap': 2531104129024,
 'volumeAllCurrencies': None,
 'strikePrice': None,
 'averageVolume': 76331758,
 'dayLow': 148.61,
 'ask': 0,
 'askSize': 1300,
 'volume': 90956723,
 'fiftyTwoWeekHigh': 153.49,
 'fromCurrency': None,
 'fiveYearAvgDividendYield': 1.29,
 'fiftyTwoWeekLow': 103.1,
 'bid': 0,
 'tradeable': False,
 'dividendYield': 0.0057,
 'bidSize': 3100,
 'dayHigh': 153.49,
 'regularMarketPrice': 153.12,
 'logo_url': 'https://logo.clearbit.com/apple.com'}

In [43]:
aapl.actions

            Dividends  Stock Splits
Date
2021-08-06       0.22           0.0

In [45]:
aapl.dividends

Date
2021-08-06    0.22
Name: Dividends, dtype: float64

In [46]:
aapl.splits

Series([], Name: Stock Splits, dtype: int64)

In [47]:
import altair as alt

In [48]:
df

Date,21 June 2021,22 June 2021,23 June 2021,24 June 2021,25 June 2021,28 June 2021,29 June 2021,30 June 2021,01 July 2021,02 July 2021,...,17 August 2021,18 August 2021,19 August 2021,20 August 2021,23 August 2021,24 August 2021,25 August 2021,26 August 2021,27 August 2021,30 August 2021
Name,,,,,,,,,,,,,,,,,,,,,
apple,132.102081,133.779556,133.499985,133.210419,132.910873,134.578369,136.126053,136.755112,137.064651,139.750626,...,150.190002,146.360001,146.699997,148.190002,149.710007,149.619995,148.360001,147.539993,148.600006,153.119995
facebook,332.290009,339.029999,340.589996,343.179993,341.369995,355.640015,351.890015,347.709991,354.390015,354.700012,...,358.450012,355.450012,355.119995,359.369995,363.350006,365.510010,368.390015,364.380005,372.630005,380.660004
google,2436.250000,2446.610107,2442.540039,2450.000000,2450.169922,2450.719971,2445.449951,2441.790039,2448.889893,2505.149902,...,2733.229980,2708.979980,2713.600098,2748.590088,2800.830078,2825.229980,2841.580078,2828.810059,2880.080078,2891.810059
microsoft,262.128174,265.002686,264.763123,266.180420,264.513611,268.206543,270.881409,270.382385,271.081055,277.119476,...,292.519989,290.730011,296.769989,304.359985,304.649994,302.619995,302.010010,299.089996,299.720001,303.589996
netflix,497.000000,508.820007,512.739990,518.059998,527.070007,533.030029,533.500000,528.210022,533.539978,533.979980,...,518.909973,521.869995,543.710022,546.880005,553.330017,553.409973,547.580017,550.119995,558.919983,566.179993
amaozon,3453.959961,3505.439941,3503.820068,3449.080078,3401.459961,3443.889893,3448.139893,3440.159912,3432.969971,3510.979980,...,3241.959961,3201.219971,3187.750000,3199.949951,3265.870117,3305.780029,3299.179932,3316.000000,3349.629883,3421.570068

In [64]:
companies = ['apple', 'facebook']
data = df.loc[companies]
data

Date,21 June 2021,22 June 2021,23 June 2021,24 June 2021,25 June 2021,28 June 2021,29 June 2021,30 June 2021,01 July 2021,02 July 2021,...,17 August 2021,18 August 2021,19 August 2021,20 August 2021,23 August 2021,24 August 2021,25 August 2021,26 August 2021,27 August 2021,30 August 2021
Name,,,,,,,,,,,,,,,,,,,,,
apple,132.102081,133.779556,133.499985,133.210419,132.910873,134.578369,136.126053,136.755112,137.064651,139.750626,...,150.190002,146.360001,146.699997,148.190002,149.710007,149.619995,148.360001,147.539993,148.600006,153.119995
facebook,332.290009,339.029999,340.589996,343.179993,341.369995,355.640015,351.890015,347.709991,354.390015,354.700012,...,358.450012,355.450012,355.119995,359.369995,363.350006,365.510010,368.390015,364.380005,372.630005,380.660004

In [65]:
data.sort_index()

Date,21 June 2021,22 June 2021,23 June 2021,24 June 2021,25 June 2021,28 June 2021,29 June 2021,30 June 2021,01 July 2021,02 July 2021,...,17 August 2021,18 August 2021,19 August 2021,20 August 2021,23 August 2021,24 August 2021,25 August 2021,26 August 2021,27 August 2021,30 August 2021
Name,,,,,,,,,,,,,,,,,,,,,
apple,132.102081,133.779556,133.499985,133.210419,132.910873,134.578369,136.126053,136.755112,137.064651,139.750626,...,150.190002,146.360001,146.699997,148.190002,149.710007,149.619995,148.360001,147.539993,148.600006,153.119995
facebook,332.290009,339.029999,340.589996,343.179993,341.369995,355.640015,351.890015,347.709991,354.390015,354.700012,...,358.450012,355.450012,355.119995,359.369995,363.350006,365.510010,368.390015,364.380005,372.630005,380.660004

In [66]:
data = data.T.reset_index()
data.head()

Name          Date       apple    facebook
0     21 June 2021  132.102081  332.290009
1     22 June 2021  133.779556  339.029999
2     23 June 2021  133.499985  340.589996
3     24 June 2021  133.210419  343.179993
4     25 June 2021  132.910873  341.369995

In [67]:
data = pd.melt(data, id_vars=['Date']).rename(
    columns={'value': 'Stock Prices(USD)'})
data

              Date      Name  Stock Prices(USD)
0     21 June 2021     apple         132.102081
1     22 June 2021     apple         133.779556
2     23 June 2021     apple         133.499985
3     24 June 2021     apple         133.210419
4     25 June 2021     apple         132.910873
..             ...       ...                ...
95  24 August 2021  facebook         365.510010
96  25 August 2021  facebook         368.390015
97  26 August 2021  facebook         364.380005
98  27 August 2021  facebook         372.630005
99  30 August 2021  facebook         380.660004

[100 rows x 3 columns]

In [98]:
ymin, ymax = 325, 380

chart = (alt.Chart(data).mark_line(opacity=0.8, clip=True).encode(
        x='Date:T', 
        y=alt.Y('Stock Prices(USD):Q', stack=None, scale=alt.Scale(domain=[ymin, ymax])),
        color='Name:N'))

In [99]:
chart

alt.Chart(...)

In [ ]:
df.index